<html>
<body>
	<h1>Add a New Shelter</h1>
	<form action = "{{url_for('newShelter')}}" method = 'POST'>
	<p>Name:</p>
	<input type ='text' name = 'name1'>
	<p>Address:</p>
	<input type ='text' name = 'name2'>
	<p>City:</p>
	<input type = 'text' name = 'name3'>
	<p>State:</p>
	<input type = 'text' name ='name4'>
	<p>Zipcode:</p>
	<input type ='text' name ='name5'>
	<p>Website:</p>
	<input type ='text' name = 'name6'>
	<p>Maximum Capacity:</p>
	<input type ='text' name = 'name7'></br></br>
	<input type ='submit' value ='Create'>
</form>
</body>
</html>
